#TituloPrincipal {
    color : blue;
    font-size: 30px;
    font-family: Comic Sans MS;
}
.PARRAFOSejemplo{
    color : teal;
    font-weight: bold;
    
}
.parrafoSecundario{
    color : graytext;
    font-size: 15px;
    font-weight: bold;
}
p{
    Color: blue;
    font-size: 10px;
}
